/* general links */

a {
  color: black;
}

/* header */

header {
  text-align: center;
  height: 50px;
  min-width: 1100px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 600px 100px;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(240,240,240);
  border-bottom-color: rgb(180,180,180);
  border-bottom-style: solid;
  border-bottom-width: 0.1px;
}

/* navigation */

nav {
  margin-top: 20px;
  margin-right: 970px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  transform: scale(1.1, 1);
}

/* main body grids */

main {
  position: relative;
  left: 0%;
  min-width: 1100px;
  display: grid;
  grid-template-columns: 520px 580px;
  grid-template-rows: 135px 220px 300px 80px;
  justify-items: start;
  justify-content: center;
  align-items: stretch;
  align-content: start;
}

/* header text styles */

h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 42px;
  transform: scale(1.1, 1);
}

h3 {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  transform: scale(1.1, 1);
}

h4 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  transform: scale(1.1, 1);
}

.shop {
  font-weight: 500;
  text-decoration: underline;
}

/* detailed adjustment of elements in the main grids */

.subheading {
  grid-row: 1;
  grid-column: 2;
  text-align: left;
  margin-left: 15px;
}

/* pillow preview window */

.pillow-preview {
  margin-top: 150px;
  grid-column: 1;
  grid-row: 1 / span 4;
  background-color: white;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 500px 100px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.current-view {
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 400px;
  height: auto;
  object-fit: contain;
  align-self: center;
  margin-bottom: 60px;
}

.small-view {
  grid-row: 2;
  width: 50px;
  height: auto;
  object-fit: contain;
}

.s1 {
  justify-self: end;
}

.s3 {
  justify-self: start;
}

/* color section */

.customize-color {
  justify-self: start;
  align-self: stretch;
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 140px 140px 140px 140px;
  grid-template-rows: 42px 125px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.color {
  margin: 0px 15px 0px 0px;
  border-width: 0.75px;
  border-color: rgb(180,180,180);
  border-style: solid;
  border-radius: 15px;
  justify-self: stretch;
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: 80px 30px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.customize-color-text{
  font-family: Roboto;
  font-weight: 300;
  font-size: 21px;
  justify-self: start;
  text-align: left;
  grid-row: 1;
  grid-column: 1 / span 4;
  transform: scale(1.1, 1);
  margin-left: 1px;
}

.color-icon {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.color-name {
  align-self: center;
  font-family: Roboto;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  padding-bottom: 14px;
}

.c1 {
  border-width: 1px;
  border-color: black;
  background-color: rgb(245, 245, 245);
}

/* filling section */

.customize-filling {
  align-self: start;
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 80px 80px 80px;
  justify-items: stretch;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.customize-filling-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 21px;
  justify-self: start;
  text-align: left;
  grid-row: 1;
  transform: scale(1.1, 1);
  margin-left: 1px;
}

.filling-name {
  border-radius: 15px;
  border-width: 0.75px;
  border-color: rgb(180,180,180);
  border-style: solid;
  font-family: Roboto;
  font-weight: 300;
  font-size: 26px;
  padding: 14.5px 0px 15.5px 15px;
  margin-left: 23px;
}

.f1 {
  border-width: 1px;
  border-color: black;
  background-color: rgb(245, 245, 245);
  transform: scale(1.1, 1);
}

.f2 {
  transform: scale(1.1, 1);
}

.f3 {
  transform: scale(1.1, 1);
}

.additional-pricing-a {
  margin-right: 10px;
  padding-left: 39px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
}

.additional-pricing-b {
  margin-right: 10px;
  padding-left: 166px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
}

/* quantity section */

.customize-quantity {
  grid-column: 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: 80px;
  justify-items: start;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.customize-quantity-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 21px;
  justify-self: start;
  text-align: left;
  grid-row: 1;
  grid-column: 1;
  transform: scale(1.1, 1);
  margin-left: 1px;
}

.quantity-name {
  border-radius: 15px;
  border-width: 0.75px;
  border-color: rgb(180,180,180);
  border-style: solid;
  font-family: Roboto;
  font-weight: 300;
  font-size: 28px;
  padding: 13.5px 20px 10.5px 15px;
}

/* icons section */

.icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.logo {
  justify-self: center;
}

.shopbag {
  justify-self: right;
}

/* buttons */

.select-button {
  margin: 53px 0px;
  border-width: 0.5px;
  border-color: rgb(180,180,180);
  border-style: solid;
  border-radius: 15px;
  background-image: linear-gradient(rgb(140,140,140), rgb(100,100,100));
  box-shadow:0px 5px 10px rgba(0,0,0,0.11);
}

.select-text {
  font-family: Roboto;
  padding: 0px 35px 0px 40px;
  line-height: 0.3;
  font-size: 18px;
  font-weight: 300;
  transform: scale(1.1, 1);
  color: white;
  justify-items: center;
}

.container {
  min-width: 1100px;
  margin: auto;
  min-height: 100%;
}

/* checkout section */

footer {
  box-shadow:0px -5px 3px rgba(0,0,0,0.07);
  margin-top: 35px;
  height: 75px;
  min-width: 1100px;
  display: grid;
  grid-template-columns: 65px 345px 390px 250px;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(240,240,240);
  border-top-color: rgb(180,180,180);
  border-top-style: solid;
  border-top-width: 0.1px;
}

.ship {
  width: 25px;
  height: 27px;
  justify-self: start;
  object-fit: fill;
}

.delivery {
  justify-self: start;
  line-height: 1.2;
  font-size: 14px;
}

.price {
  justify-self: end;
  padding-left: 140px;
  margin-left: 100px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  transform: scale(1.1, 1);
}

.add-bag {
  margin-left: 80px;
}

.add-bag-text {
  justify-self: end;
  padding: 0px 37px 0px 37px;
}